/*Reset*/
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  max-height: 100000px;
}

/*Colors*/

:root {
  --dominant_color: #FC6111;
  --primary_dark: #293860;
  --primary_light: #EEF4FA;
  --secondary_light: #119CB9;
  --secondary_dark: #1A707D;
}

.color-dominant{
  background: var(--dominant_color);
  border-color: var(--dominant_color);
}
.color-background_primary{
  background: var(--primary_light);
  border-color:  var(--primary_light);
}
.color-background_secondary{
  background: var(--secondary_light);
  border-color: var(--secondary_light);
}
.color-text_dominant{
  color: var(--dominant_color)
}
.color-text_primary{
  color: var(--primary_dark)
}
.color-text_secondary{
  color: var(--secondary_dark)
}

/*Tags*/

body{
  background: var(--primary_light);
}

h1{
    font-size: 3rem;
    font-weight: 600;
    font-family: Raleway, sans-serif;
    margin: 10px;
}

h2, th{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Raleway, sans-serif;
    margin: 5px;
}

p, q, input, textarea, button, li{
    font-size: 1.25rem;
    font-weight: 400;
    font-family: Lato, sans-serif;
}

ul {
  margin-left: 2rem;
  list-style-type: disc;
}

q{
    font-style: italic;
}

p{
  display: inline-block;
  white-space: pre-wrap;
}

a{
  color: #27407F;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Lato, sans-serif;
}

@media (max-width: 1200px){
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2rem;
  }
}

@media (max-width: 1000px){
  h2{
    font-size: 3rem;
  }
  p, q{
    font-size: 2rem;
    font-weight: 400;
    font-family: Lato, sans-serif;
  }
}
