/*Buttons*/

button{
  margin:25px;
}

.submitButton{
  color: var(--primary_dark);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary_light);
  padding: 20px;
  border: 4px solid var(--primary_dark);
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.submitButton:hover{
  color: var(--primary_light);
  background: var(--dominant_color);
  border-color: var(--dominant_color);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.submitButtonDisabled{
  color: var(--secondary_dark);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary_light);
  padding: 20px;
  border: 4px solid var(--secondary_dark);
  display: inline-block;
  transition: all 0.4s ease 0s;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.submitButtonDisabled:hover{
  color: var(--secondary_dark);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary_light);
  padding: 20px;
  border: 4px solid var(--secondary_dark);
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: unset;
}

.submitButtonSelected{
  color: var(--primary_light);
  text-transform: uppercase;
  text-decoration: none;
  background: var(--dominant_color);
  border-color: var(--dominant_color);
  cursor: pointer;
  padding: 20px;
  border: 4px solid var(--primary_dark);
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.homePageButtonRow{
  position: relative;
  width: 100%
}

.homePageButton{
  position: relative;
  color: var(--primary_dark);
  background-color: transparent;
  margin: 0;
  margin-top: 50px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: start;
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  cursor: pointer;
}

.homePageButton:hover{
  color: var(--dominant_color);
}

.homePageButton:before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary_dark);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.homePageButton:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--primary_dark);
}
 
.homePageButton:hover:before{
  visibility: visible;
  width: 100%;
}

.homePageButton + div {
  width:10px;
  height:10px;
  display: block;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 60px;
  border-top: 2px solid var(--primary_dark);
  border-right: 2px solid var(--primary_dark);
}

.homePageButton:hover + div {
  transform: rotateZ(45deg);
}

.homePageButton + div div{
  width:2px;
  height:20px;
  transform: rotateZ(45deg);
  background-color: var(--primary_dark);
  position: absolute;
  top: -4px;
  right: 5px;
}

/*Images*/

img {
  height: 100%;
}

.removeImage {
  max-width: 10px;
  max-height: 10px;
  width: auto;
  height: auto;
}

.currentPlayerImage {
  max-width: 20px;
  max-height: 15px;
  width: auto;
  height: auto;
}

.cryingBabyImage {
  display: inline;
  max-width: 20px;
  max-height: 15px;
  width: auto;
  height: auto;
}

.mobileGameCardImage{
  width: 150px;
  height: 150px;
}
/*Forms/Text Fields*/

input {
  border: 1px solid var(--primary_dark);
  margin:25px;
}

.player {
  min-width: 5em;
  padding-right: 5px;
}

.baby {
  min-width: 5em;
  padding-right: 5px;
}

.smallImageColumn {
  min-width: 1em;
  text-align: center;
}

.imageColumn {
  min-width: 3em;
  text-align: center;
}

.textColumn {
  min-width: 7em;
}

.drinks {
  min-width: 7em;
  padding-right: 5px;
  text-align: center;
}

.remove {
  min-width: 7em;
}

/*Custom Classes*/

.big-popup {
  position: fixed;
  max-width: 1400px;
  max-height: 620px;
  width: 90vw;
  height: 92vh;
  top: 4vh;
  bottom: 4vh;
  left: 5vw;
  right: 5vw;
  margin: auto;
  background-color: black;
  border-radius: 5px;
  z-index: 1;
}

@media (max-width: 1024px){
  .big-popup {
    max-height: 1000px;
    height: 96vh;
    top: 2vh;
    bottom: 2vh;
  }
}

.small-popup {
  position: fixed;
  max-width: 600px;
  max-height: 600px;
  width: 60vw;
  height: 60vh;
  top: 20vh;
  bottom: 20vh;
  left: 20vw;
  right: 20vw;
  margin: auto;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

.popup-content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  background: white;
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto;
}

.spacing {
  padding-top: 1em;
}

.red {
  color: rgb(212, 0, 0);
}

.black {
  color: rgb(0, 0, 0);
}

.card {
  height: 0;
  overflow: hidden;
  border: 1px solid black;
  width: 8vw;
  height: 11.2vw;
  margin-right: 30px;
  position: relative;
  background: white;
}

.card-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-suit {
  height: 33%;
  max-height: 5vw;
  align-content: center;
}

.card-number {
  height: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-number h1 {
  margin: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justified {
  text-align: justify;
  text-justify: auto;
}

.deathBoxButtonChoice {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  text-align: center;
}

.deathBoxPlayers {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  text-align: center;
}

.playersTable {
  margin-left: auto;
  margin-right: auto;
}

.deathBoxBoard {
  width: 35%;
  height: 100%;
}

.deathBox {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Home Page Shuffle */

.flip-cardPile {
  position: relative;
  display: flex;
  flex:6;
}

.flip-card {
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  transition: transform 2s ease; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border: 3px solid var(--primary_dark);
  background-color: var(--secondary_light);;
  padding-top: 10px;
  padding-bottom: 10px;
  transform-style: preserve-3d;
}

.flip-card.card-1 {
  z-index:3;
  animation-duration: 2s;
  animation-name: card-1;
  -webkit-animation-fill-mode: forwards;
}
.flip-card.card-2 {
  z-index:2;
  animation-duration: 2s;
  animation-name: card-2;
}

@-webkit-keyframes card-1 {
  0% {}
  20% {transform: translateY(0px); z-index:3}
  49% {z-index:3}
  50% {transform: translateY(80vh) rotate(15deg); z-index: 3;}
  51% {z-index:1}
  80% {transform: translateY(0px); z-index:1}
  100% {z-index:1}
}

/*Home Page Flip*/

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-inner-flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/*Coin Flip*/
#coin {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
     -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
          box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
}
.side-a {
  background-color: #bb0000;
}
.side-b {
  background-color: #3348FF;
}

#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
  margin-top: 50px;
  margin-bottom: 50px;
}
#coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.side-a {
  z-index: 100;
}
.side-b {
  -webkit-transform: rotateY(-180deg);

}

#coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}
#coin.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}
@-webkit-keyframes flipTails {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}

.coinText{
  -webkit-animation: fadeText 6s ease-out forwards;
  -moz-animation: fadeText 6s ease-out forwards;
  -o-animation: fadeText 6s ease-out forwards;
  animation: fadeText 6s ease-out forwards;
}

@-webkit-keyframes fadeText {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

/* Team Name Flip */

.flip-text {
	-webkit-animation: flip-text 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-text 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  width: 200px;
  height: 68.5px; /*Height of two padddings plus font size*/
}

.teamNameFace {
  width: 200px;
  padding-bottom: 25px;
  text-align: center;
  position:absolute;
  padding-top: 25px;
}

.frontFace {
  -webkit-animation: front-flip-text 0.5s both;
  animation: front-flip-text 0.5s both;
}

.backFace {
  -webkit-animation: back-flip-text 0.5s both;
  animation: back-flip-text 0.5s both;
  transform: rotateX(180deg);
}

@-webkit-keyframes flip-text {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-text {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes front-flip-text {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes front-flip-text {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes back-flip-text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes back-flip-text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/*Hide Animation*/

@-webkit-keyframes hideAnimation {
  0% {
    opacity: 1;
  }

  99% {
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Number Pop Animation */

@keyframes pop{

  50%  {
    font-size: 4rem;
    color: #bb0000;
  }

}

/* 3 second drink countdown */

body {
  background: #32386d;
  font-family: Helvetica, Arial, sans-serif;
}
.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 140px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  transform: translateX(-50%);
}
.demo__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  perspective: 1000px;
  animation: demoAnim 4s ease-in-out infinite, contAnim 4s infinite;
}
.demo__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation: rotation 1.3s linear infinite;
}
.demo__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386d;
  border-radius: inherit;
}
.demo__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  transform-origin: 0 0;
}
.demo__colored-block:nth-child(1) {
  transform: rotate(0deg) skewX(-30deg);
  background-color: #fd3359;
}
.demo__colored-block:nth-child(2) {
  transform: rotate(120deg) skewX(-30deg);
  background-color: #f4d302;
}
.demo__colored-block:nth-child(3) {
  transform: rotate(240deg) skewX(-30deg);
  background-color: #21bdff;
}
.demo__inner {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 6%;
  padding-left: 2%;
}
.demo__numbers {
  overflow: visible;
  width: 100px;
  height: 100px;
}
.demo__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.055065155;
  stroke-dashoffset: 0;
  animation: numAnim 4s ease-in-out infinite;
  opacity: 0;
}
.demo__text {
  position: absolute;
  left: 50%;
  top: 15;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 140px;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  transform: translateX(10px);
  animation: hideText 4s infinite;
}
@keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
 }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
 }
}
@keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
 }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
 }
  53%, 66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
 }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
 }
  88%, 100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
 }
  92% {
    opacity: 1;
 }
  100% {
    opacity: 0;
 }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
 }
}
@keyframes demoAnim {
  15% {
    border-radius: 20px;
    transform: rotate(0);
 }
  30%, 43% {
    border-radius: 50%;
    transform: rotate(360deg);
 }
  52%, 65% {
    border-radius: 0;
    transform: rotate(720deg);
 }
  78%, 90% {
    border-radius: 50%;
    transform: rotate(1080deg);
 }
  100% {
    border-radius: 20px;
    transform: rotate(1440deg);
 }
}
@keyframes hideText {
  15%, 100% {
    opacity: 1;
 }
  20%, 96% {
    opacity: 0;
 }
}

/* Drink Countdown */

.beerContainer{
  position:relative;
  width:100%;
  overflow:hidden;
  background: #dd8d31;
}
.beerContainer .wave{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background:url('https://media.discordapp.net/attachments/640536664984256523/694777270744907806/wave.png');
  background-size:1000px 100px;
}
.beerContainer .wave.wave1{
	animation:animate 30s linear infinite;
	z-index:1000;
	opacity:1;
	animation-delay:0s;
	bottom: 0;
}
.beerContainer .wave.wave2{
	animation:animate2 15s linear infinite;
	z-index:999;
	opacity:0.5;
	animation-delay:-5s;
	bottom: 10px;
}
.beerContainer .wave.wave3{
	animation:animate 30s linear infinite;
	z-index:998;
	opacity:0.2;
	animation-delay:-2s;
	bottom: 15px;
}
.beerContainer .wave.wave4{
	animation:animate2 5s linear infinite;
	z-index:997;
	opacity:0.7;
	animation-delay:-5s;
  bottom: 20px;
  background: #ebebeb;
}

.countDownContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
}

@keyframes animate{
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: 1000px;
	}
}
@keyframes animate2{
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: -1000px;
	}
}

/*Corners*/

.rcorners10 {
  border-radius: 5px;
}

.rcorners5 {
  border-radius: 5px;
}

.rcorners2 {
  border-radius: 2px;
}
